html {
    background-color: gray;
    display: flex;
    justify-content: center;
  }
  
  .controller {
    width: 70vw;
    background-color: white;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .gameboard {
    width: 100%;
    background-color: silver;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  button {
    width: 100px;
  }
  
  .cont {
    border: solid;
    width: 306px;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
  }
  
  .cont>div {
    width: 100px;
    height: 100px;
    background-color: green;
    border: solid 1px;
    font-size: 90px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .result{
    font-size: 100px;
  }